@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,400i,700|Roboto+Mono&display=swap');

#index {
    margin: 0;
}

#banner {
    text-align: center;
}

#banner h1 {
    font-size: 32pt;
    color: #112;
    margin-top: 0;
    padding-top: 0.5em;
}

#nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    border-radius: 0 0 3px 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #112 !important;
}

#portrait {
    border-radius: 100%;
    width: 180px;
    margin-top: 4em;
}

#menu {
    position: absolute;
    overflow-x: hidden;
    width: 0;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1;
    background-color: #112;
    color: #fff;
}

#menu-inner {
    padding: 1em;
    width: 180px;
}

#strapline {
    padding: 0 1em;
    color: #eee;
}

#menu-items {
    list-style: none;
    padding: 0 1em;
}

.menu-item {
    line-height: 2em;
    font-size: 14pt;
}

.menu-item a {
    color: #eee;
}

#tag-list {
    list-style: none;
    padding: 0 0.5em;
}

.tag {
    line-height: 2em;
    font-size: 10pt;
}

.tag a {
    color: #eee;
}

#social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    height: 50px;
}

#social a {
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#social img {
    width: 50px;
}

#content {
    width: 80%;
    max-width: 800px;
    left: auto;
    right: auto;
    margin: 0 auto;
}

h2.entry-title {
    font-size: 24pt;
}

.entry-content {
    text-align: justify;
}

code,
.highlight {
    font-size: 12pt;
    background-color: #eee;
    border-radius: 4px;
}

p code {
    padding: 2px;
}

.highlight {
    padding: 0 10px;
    overflow: scroll;
}

#content img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

h1,
h2,
h3 {
    font-family: 'Bitter', serif;
    color: #112;
}

.entry-content h1 {
    font-size: 20pt;
}

.entry-content h2 {
    font-size: 18pt;
}

.entry-content h3 {
    font-size: 16pt;
}

.entry-content,
p,
time,
address,
li {
    font-family: 'Open Sans', sans-serif;
    color: #112;
}

#content li,
p {
    font-size: 14pt;
    line-height: 1.5em;
}

footer p,
p.paginator {
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: #233;
}

a:hover {
    color: #930;
}

.entry-content a,
li>a,
p>a {
    color: #33c;
}

p>a:hover {
    text-decoration: underline;
}

#contentinfo {
    text-align: center;
    margin: 1em 0;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

mjx-container {
    font-size: 12pt;
}